.featurette-image:hover {
    opacity: 0.85 !important;
}

.alert-success {
    display: none;
}

.alert-warning {
    display: none;
}

.post-delete:hover {
    cursor: pointer;
}

.post-content {
    width: 50em;
}

.clear {
    clear: both;
}

.comment-area {
    width: 50em !important;
    float: left !important;
}

pre {
  background-color: #FFFFFF;
  border: 0px;
}
