{% extends "base.html" %}
<!-- template 500.html -->
{% load i18n %}
{% block title %}{% spaceless %}500 Error{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type="text/javascript">
        $().ready(function(){
            $("#linkPrevious").bind("click", back=function(){history.go(-1);})            
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        500 Server Error
    </h3>

</div>
<div id="main-body" class="headNormal">
    <div style="padding:5px 0px 10px 0;line-height:25px">
        <h3>{% trans "Sorry, system error" %}</h3>
        <br>
        {% trans "System error log is recorded, error will be fixed as soon as possible" %}<br>
		{% trans "Please report the error to the site administrators if you wish" %}
        <ul>
        </u>
    </div>

</div>
{% endblock %}
<!-- end template 500.html -->
