{% extends "base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% load url from future %}

{% block content %}

<h3>MUER makes your life interesting everyday.</h3>

Muer is a joke site aims at collecting best jokes from all types of websites and gathering people all around the world
to vote, appreciate, and contribute to this joke pool. The site is developed in django web framework. Joke resource is 
scraped from internet using BeautifulSoup, a python html parsing tool.
</br>
</br>
I'm open sourcing this repo in hope of all joke enthusiastics will collaborate with each other and make this web based
joke application an fun, efficient place to get the joke people enjoy. 

Check <a href='https://github.com/caogecym/muer'>https://github.com/caogecym/muer</a> for the open source repo, 
if you are interested in developing this site, or have any good suggestions, please do, feel free to contact me at 
<a href='mailto:caogecym@gmail.com'>caogecym@gmail.com.
{% endblock %}
