<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/home">MUER</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="/tags" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/tags/asia">Asia</a></li>
              <li><a href="/tags/europe">Europe</a></li>
              <li><a href="/tags/cartoon">Cartoon</a></li>
            </ul>
          </li>
          <li><a href="/posts/hottest">Hottest</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
        <form action="/search" method="get" class="navbar-search pull-left">{% csrf_token %}
          <input type="text" name="q" class="search-query" placeholder="Search">
        </form>
        {% if user.is_authenticated %}
          <p class="navbar-text pull-right">
            <a class="navbar-link" href="/users/{{ user.id }}/{{ user.username }}/">{{ user.username }}</a>   
            <a class="navbar-link" href="/logout/">logout</a>
          </p>
        {% else %}
          <p class="navbar-text pull-right">
            <a class="navbar-link" href="/signup/">Sign Up</a>
            &nbsp;&nbsp;
            <a class="navbar-link" href="/login/">Login</a>
          </p>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
