{% load i18n %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/home">MUER</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="/tags" class="dropdown-toggle" data-toggle="dropdown">{% trans "Categories" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/tags/cold-jokes">{% trans "Cold Jokes" %}</a></li>
              <li><a href="/tags">{% trans "More" %}...</a></li>
            </ul>
          </li>
          <li><a href="/posts/hottest">{% trans "Hottest" %}</a></li>
          <li><a href="/about/">{% trans "About" %}</a></li>
        </ul>
        <form action="/search" method="get" class="navbar-search pull-left">{% csrf_token %}
          <input type="text" name="q" class="search-query" placeholder={% trans "Search" %}>
        </form>

        <form action="/posts/new_post" class="navbar-form pull-right">
          <button type="submit" class="btn">{% trans "Post" %}</button>
        </form>

        {% if user.is_authenticated %}
          <p class="navbar-text pull-right">
            <a class="user-label navbar-link" href="/users/{{ user.id }}/" data-userid="{{ user.id }}">{{ user.username }}</a>   
            &nbsp;&nbsp;
            <a class="navbar-link" href="/logout/">{% trans "logout" %}</a>
            &nbsp;&nbsp;
          </p>
        {% else %}
          <p class="navbar-text pull-right">
            <a class="navbar-link" href="/signup/">{% trans "Sign Up" %}</a>
            &nbsp;&nbsp;
            <a class="navbar-link" href="/login/">{% trans "Login" %}</a>
            &nbsp;&nbsp;
          </p>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
