{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block forejs %}
    <script type='text/javascript' src="{% static "js/post.js" %}"></script>
{% endblock %}

{% block content %}
    {% if latest_post_list %}
        <table class="table">
            {% for post in latest_post_list %}
                <tr>
                    <td>
                        <div class='post-img-like-wrapper'><a id="post-img-like-{{ post.id }}" class="post-img-like" > </a></div>
                                <div class="post-content">
                        {{ post.content }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}
